<%= form_for :city_search, url: 'forecast/show', method: 'get', html: { class: 'city-search-form' } do |form| %>
  <%= form.text_field :name, placeholder: 'Saisir un nom de ville', class: 'city-search-name' %>
  <%= form.submit 'Chercher', class: 'city-search-submit'  %>
<% end %>

<div class='user-preferences-container'>
  <h2 class='user-preferences-title'>Préférences page d'accueil</h2>

  <%= form_for current_user, html: { class: 'preferences-form' } do |form| %>
    <div class='preferences-city-container'>
      <%= form.label :city_preference, 'Ville' %>
      <%= form.select :city_preference, options_for_cities, prompt: '- choisir -' %>
    </div>

    <div class='preferences-duration-container'>
      <%= form.label :duration_preference, 'Durée' %>
      <%= form.select :duration_preference, options_for_duration, prompt: '- choisir -' %>
    </div>

    <%= form.submit 'Enregistrer', class: 'preferences-submit'  %>
  <% end %>
</div>

<div class='results-container'>
  <p>Prévisions pour les <%= @duration %> prochains jours à <%= @city.capitalize %></p>

  <% @result.each do |date, data| %>
    <div class='result-item'>
      <div class='result-date'><%= date %></div>
      <div class='result-infos'>
        <% data.each do |forecast| %>
          <div class='result-forecast'>
            <div class='result-forecast-hour'><%= forecast[:hour] %>h</div>
            <div class='result-forecast-temp'><%= forecast[:temp] %>°</div>
            <div class='result-forecast-weather'><%= forecast[:weather] %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
