<%= form_for :city_search, method: 'get', html: { class: 'city-search-form' } do |form| %>
  <%= form.text_field :name, placeholder: 'Saisir un nom de ville', class: 'city-search-name' %>
  <%= form.submit 'Chercher', class: 'city-search-submit'  %>
<% end %>

<div class='results-container'>
  <% if @result[:error] %>
    <p class='city-search-error-message'>
      <% if @result[:error][:code] == '404' %>
        Cette ville n'a pas été trouvée.
      <% else %>
        Un problème est survenu, merci de réessayer.
      <% end %>
    </p>
  <% else %>
    <p>Prévisions pour demain à <%= @city.capitalize %></p>

    <% @result.each do |date, data| %>
      <div class='result-item'>
        <div class='result-date'><%= date %></div>
        <div class='result-infos'>
          <% data.each do |forecast| %>
            <div class='result-forecast'>
              <div class='result-forecast-hour'><%= forecast[:hour] %>h</div>
              <div class='result-forecast-temp'><%= forecast[:temp] %>°</div>
              <div class='result-forecast-weather'><%= forecast[:weather] %></div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= button_to "Page d'accueil", root_path, method: 'get', form_class: 'back-home-button'  %>