<h2 class='devise-title'>Création de compte</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field devise-form-field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field devise-form-field">
    <%= f.label :password, 'Mot de passe' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> charactères minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field devise-form-field">
    <%= f.label :password_confirmation, 'Confirmation mot de passe' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions create-account-button">
    <%= f.submit "Créer un compte" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
