<h2 class='devise-title'>Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field devise-form-field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field devise-form-field">
    <%= f.label :password, 'Mot de passe' %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field remember-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Se souvenir de moi', class: 'remember-label' %>
    </div>
  <% end %>

  <div class="actions" style="text-align: center;">
    <%= f.submit "Connexion" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
