body {
  margin: 0;
}

header {
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.main-title {
  font-size: 1.75em;
  margin-left: 20px;
  margin-bottom: 0;
  color: #333;
}

.logout-link {
  margin-right: 20px;
}

.main-wrapper {
  max-width: 750px;
  margin: auto;
}

.alert {
  text-align: center;
  color: #f44336;
  margin-top: 20px;
}

.city-search-form {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.city-search-name {
  height: 40px;
  max-width: 550px;
  margin: 0;
}

.city-search-submit {
  height: 40px;
}

.city-search-error-message {
  text-align: center;
  color: #f44336;
}

.user-preferences-container {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}

label { font-weight: normal; }

.user-preferences-title {
  font-weight: normal;
  text-align: center;
}

.preferences-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preferences-submit {
  height: 40px;
}

.results-container {
  width: 400px;
  margin: auto;
}

.result-item {
  margin-bottom: 20px;
  display: flex;
}

.result-infos {
  margin-left: 30px;
}

.result-forecast {
  margin-bottom: 5px;
  display: flex;
}

.result-forecast-hour {
  width: 50px;
}

.result-forecast-temp {
  width: 70px;
}

.back-home-button {
  text-align: center;
  margin-top: 40px;
}

.devise-title {
  text-align: center;
  margin-top: 30px;
}

.devise-link-container {
  text-align: center;
  margin-top: 20px;
}

.devise-form-field {
  margin-bottom: 20px;
}

.remember-field {
  display: flex;
  margin: 10px;
}

.remember-label {
  margin-bottom: 0;
}

.create-account-button {
  text-align: center;
}