<!DOCTYPE html>
<html>
  <head>
    <title>MeteoWifirst</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 class='main-title'>Météo Wifirst</h1>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to('Déconnexion', destroy_user_session_path, method: :delete, class: "logout-link") %>
      <% end %>
    </header>

    <p class="alert"><%= alert %></p>

    <div class='main-wrapper'>
      <%= yield %>
    </div>
  </body>
</html>
